<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        body{
            background-color: red;
        }

        .form-control{
            background-color: green;
            width: 550px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <form action="" >
        {{ forms.as_p }}
    </form>
</body>
</html>